/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

div.logo 
{
    margin-right: 4px;   
    margin-bottom: 4px;
    float:left;
    width:18%
}
div.banner_title 
{
    float:left;
    width:60%;
    vertical-align: top;
} 
div.tournament_logo 
{
    margin-right: 4px;   
    margin-top: 16px;
    float:right;
    width:18%;
    text-align: right;
}
div.main
{
    background-color: #f0f0f0;
    text-align: left;
    clear: both;
}
div.rating-player
{
    text-align: left;
  font-size: larger;
  font-style: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
}
.lose {
  color: red;
}
.win {
  color: green;
}
table.lists
{
    border: solid #000000;
    background-color: #ffffff;
    border-collapse: collapse;
}
table.rating-movements
{
    border: solid #000000;
    background-color: #ffffff;
    border-collapse: collapse;
}
th
{
    text-align: center;
    font-weight: bold;
    padding: 2px;
    border: solid #000000;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    background-color: #FFFFCC;
}
td
{
    border: solid #000000;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding: 2px;
    text-align: center;
  white-space: nowrap;
}
