<div class="header">
  <h3 class="text-muted">Ratings</h3>
</div>

<div class="jumbotron">
  <table class="lists"><thead>
    <tr><th colspan='2'>MEN</th><th colspan='2'>WOMEN</th></tr>
  </thead><tbody>
  <tr><td><a href="Men_in_wheelchair.htm">Wheelchair</a></td><td><a href="Men_standing.htm">Standing</a></td><td><a href="Women_in_wheelchair.htm">Wheelchair</a></td><td><a href="Women_standing.htm">Standing</a></td></tr><tr><td><a href="#men/class/1">Class 1</a></td><td><a href="#men/class/6">Class 6</a></td><td><a href="#women/class/1">Class 1</a></td><td><a href="#women/class/6">Class 6</a></td></tr>
  <tr><td><a href="#men/class/2">Class 2</a></td><td><a href="#men/class/7">Class 7</a></td><td><a href="#women/class/2">Class 2</a></td><td><a href="#women/class/7">Class 7</a></td></tr>
  <tr><td><a href="#men/class/3">Class 3</a></td><td><a href="#men/class/8">Class 8</a></td><td><a href="#women/class/3">Class 3</a></td><td><a href="#women/class/8">Class 8</a></td></tr>
  <tr><td><a href="#men/class/4">Class 4</a></td><td><a href="#men/class/9">Class 9</a></td><td><a href="#women/class/4">Class 4</a></td><td><a href="#women/class/9">Class 9</a></td></tr>
  <tr><td><a href="#men/class/5">Class 5</a></td><td><a href="#men/class/10">Class 10</a></td><td><a href="#women/class/5">Class 5</a></td><td><a href="#women/class/10">Class 10</a></td></tr>
  <tr><td colspan="2"><a href="#men/class/11">Class 11</a></td><td colspan="2"><a href="#women/class/11">Class 11</a></td>
  </tbody></table>
</div>

